@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: white !important;
}
 .inputs{
  background-color: transparent !important;
 }
 .selects{
    min-height: 12px !important;
 }
 .recharts-legend-item, .legend-item-0{
    display: none !important;
 }